.custom-container {
  overflow: hidden;
}

.custom-heading {
  text-align: center;
}
.animate {
  opacity: 0;
}

.fade-in {
  animation: fadeInAnimation 2s ease-in forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.links {
  text-decoration: none;
  color: black;
}
.nav-bar {
  padding: 1rem;
  list-style-type: none;
  display: flex;
  gap: 2.5rem;
  font-weight: bold;
}
.custom-form {
  padding: 4rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 4rem;
}
.quote-img {
  background-image: url(img/puzzle-693868.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px;
  height: 50vh;
}
.quote {
  width: max-content;
  padding: 2rem;
  margin-top: 5rem;
}
.middle-body {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  width: 100%;
}
.footer {
  background-color: "black";
  color: "white";
}
